<div class="container" style="margin-top: 40px;">

    <h4 class="mb-3">Dados da conta</h4>

    <div class="mb-3">
        <label for="username">Nome de usuário</label><span class="text-muted"> (Username)</span>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" id="username" placeholder="Usuário" required>
            <div class="invalid-feedback" style="width:style 100%;">
                Digite seu nome de usuário.
            </div>
        </div>

        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="exemplo@email.com">
        <div class="invalid-feedback">
            Digite algum e-mail válido.
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="senha">Senha</label>
                <input type="password" class="form-control" id="senha" placeholder="" value="" required>
                <div class="invalid-feedback">
                    Digite sua senha.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="senha">Confirme sua senha</label>
                <input type="password" class="form-control" id="senha" placeholder="" value="" required>
                <div class="invalid-feedback">
                    Digite sua senha novamente.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr class="mb-4">
                <div style="text-align: right;"></div>
                <button type="button" class="btn btn-primary"> Concluir</button>
            </div>
        </div>

    </div>
</div>