<div class="position-relative overflow-hidden  p-md-5 m-md-3 text-center bg-light" id="head">
    <div class="col-md-5  mx-auto my-5">
        <h1 class="display-4 " style="font-family: 'Fredoka One';">Pedidos Online</h1>
        <p class="lead font-weight-normal" style="font-family: 'Fredoka One';">Faça seu pedido de onde estiver!!</p>
    </div>
</div>

<div class="container">
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">BOLO DE CHOCOLATE</h2>
                <p class="lead">Massa leve, cobertura de brigadeiro com granulado.</p>
                <p class="lead">Valor: R$ 5,00 a unidade</p>
                <input class="btn btn-primary btn-lg btn-block" id="btn1" type="submit" name="" value="Adicionar ao pedido">
            </div>
            <img src="./assets/img/bolo1.jpg">
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">PÃO DE QUEIJO</h2>
                <p class="lead">Feito especialmente com receita mineira.</p>
                <p class="lead">Valor: R$ 0,50 a unidade</p>
                <input class="btn btn-primary btn-lg btn-block" id="btn1" type="submit" name="" value="Adicionar ao pedido">
            </div>
            <img src="./assets/img/paodequeijo.jpg" style="text-align:center"></div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">DONNUTS</h2>
                <p class="lead">Deliciosos Donnuts com recheio de doce de leite e cobertura de chocolate, feitos com carinho para você.</p>
                <p class="lead">Valor: R$ 1,50 a unidade</p>
                <input class="btn btn-primary btn-lg btn-block" id="btn1" type="submit" name="" value="Adicionar ao pedido">
                <img src="./assets/img/donnuts1.jpg" style="margin-top: 35px; text-align:center"></div>
        </div>

        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">Pão de Mel</h2>
                <p class="lead">Nossos pães de mel possuem um sabor único e divinal, são feito artesanalmente e com muito carinho. </p>
                <p class="lead">Valor: R$ 3,00 a unidade</p>
                <input class="btn btn-primary btn-lg btn-block" id="btn1" type="submit" name="" value="Adicionar ao pedido">
                <img src="./assets/img/paodemel.jpg" style="margin-top: 35px; text-align:center"></div>
        </div>
    </div>
</div>